.container{
  height: 100vh;
}

.game-container, .editor-container{
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

.game-container{
  width: 60%;
}

.game{
  background-color: red;
  height: 500px;
}

.editor-container{
  background: blue;
  width: auto;
  width: 40%;
}

.CodeMirror.cm-s-dracula, .ReactCodeMirror.editor{
  height: 100%;
}