.container{
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  box-sizing: border-box;
}

.game-container, .editor-container{
  vertical-align: top;
  height: 100vh;
  box-sizing: border-box;
}

.game-container{
  flex: 0 0 500px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.game-container > .game{
  flex: 0 0 400px;
}

.game{
  height: 400px;
}

.lesson-container{
  flex: 1 0 100px;
}

.editor-container{
  position: relative;
  flex: 1 0 500px;
  height: 100%;

}

.ReactCodeMirror, .CodeMirror.cm-s-dracula, .ReactCodeMirror.editor{
  height: 100%;
  /* width: 100%; */
}

.CodeMirror-scroll {
  /* height: auto; */
  /* overflow-y: hidden; */
}